<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express To do</To-do></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <a href="/">Home</a>

  <a href="/teams">Welcome to our League</a>
  <h3><%= teams.name %></h3>
  <h3>Complete: <%= teams.qualify ? 'Yes' : 'No' %></h3>
</body>
</html>