<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express To do</To-do></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <a href="/">Home</a>
  <a href="/teams/<%= teams.id %>/edit">Edit Teams</a> 
  <a href="/teams">All To-Dos</a>
  <h3><%= team.name %></h3>
  <h3>Complete: <%= team.done ? 'Yes' : 'No' %></h3>
</body>
</html>